
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ultra&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080808; 
    color: #fff;
}

header {
    background-color: #080808; 
    padding: 50px; 
  }
  
  
  .navlist {
    text-align: center; 
  }
  
  /* Style the navigation links */
  .navlist ul {
    list-style: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
  }
  
  .navlist li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 15px; 
  }
  
  .navlist a {
    text-decoration: none; 
    color: #fff;
    font-weight: bold; 
    font-size: 16px; 
    transition: color 0.3s ease; 
  }
  
  
  .navlist a:hover {
    color: #ffcc00;
  }
  
#myCarousel {
  margin-top: 20px;
}
#about{
  margin-top: 20px;
}





.carousel-item{
    height: 32rem;
    background: #000000;
    color: whiite;
    position: relative;
   
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


