
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ultra&display=swap');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #fff;
}

.carousel-item{
    height: 32rem;
    background: #777;
    color: whiite;
    position: relative;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}



